/* @media screen and (min-width:381px){ */
    .container{
        background-color: rgb(51, 49, 49);
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        height: 800px;
    }
    
    .container h1{
        
        font-size: 300%;
        color: rgb(251, 251, 253);
        margin: auto;
    }
    .container h2 {
        font-size: 200%;
        color:rgb(247, 245, 248);
        margin: auto;
    }
    #butt{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* position: absolute; */
        font-weight: bold;
        position: relative;
        width: 100%;
        border: 1px solid rgb(7, 0, 0);
        /* margin: auto; */
        border-radius:5px
        font-family: Arial, Helvetica, sans-serif;
        height: 6%;
        left: 20%;
        background-color: salmon;
        color: black;
/*         padding: 1%; */
        left: 0%;
        margin-bottom: 10px;
        font-size: 70%;
    }
    #butt:hover{
        background-color: rgb(15, 2, 0);
        color: white;
    }
     #mass{
        height: 30px;
        font-size: 20px;
        /* font-weight: 200px; */
        color: brown;
    }
    .container .output{
        color: rgb(7, 218, 7);
    }
/* } */

/* @media screen and (max-width:380px){
    .container{
        background-color: rgb(247, 247, 9);
        height: 1520px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .container h1{
 
        color: rgb(245, 70, 216);
        margin: auto;
        font-size: 70px;
    }
    .container h2 {
        color:rgb(7, 2, 10);
        font-size: 50px;
    }
    #butt{

        width: 90%;
        height: 10px;
        border: 1px solid red;
        margin-left: 5%;
        font-family: Arial, Helvetica, sans-serif;
  
        background-color: rgb(238, 120, 107);
        color: black;
        padding: 5%;

   }
     #mass{ 
        height: 30px;
        font-size: 20px;
        color: brown;
    }
    .container .output{
        color: rgb(139, 241, 139);
    }   
    .input{
        height: 40px;
    }
} */
